In [4]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sbn

In [5]:
data = pd.read_csv('exportaciones-provincia-rubro.csv')
data.head()

,indice_tiempo,buenos_aires_pp,buenos_aires_moa,buenos_aires_moi,buenos_aires_cye,buenos_aires_total_buenos_aires,catamarca_pp,catamarca_moa,catamarca_moi,catamarca_cye,...,indeterminado_pp,indeterminado_moa,indeterminado_moi,indeterminado_cye,indeterminado_total_indeterminado,total_exportaciones_pp,total_exportaciones_moa,total_exportaciones_moi,total_exportaciones_cye,total_exportaciones_total_exportaciones
0,1993-01-01,956.307258,1690.927068,2121.208784,430.110129,5198.553239,7.768580,0.486956,3.286578,0.00000,...,58.254660,110.521869,264.076996,37.812924,470.666449,3273.633453,4929.601596,3678.394708,1236.125704,13117.755461
1,1994-01-01,1025.125036,2135.925116,2721.968319,340.172568,6223.191039,10.365377,0.073926,14.595062,0.00000,...,91.381600,125.198933,219.779076,10.374816,446.734425,3736.182638,5805.142207,4646.346180,1651.644738,15839.315763
2,1995-01-01,1369.582463,2769.516354,3630.708949,363.903077,8133.710843,13.242661,0.041833,5.136767,0.00000,...,78.259474,109.781496,373.071634,32.028892,593.141496,4816.258440,7473.349010,6503.187015,2170.309703,20963.104168
3,1996-01-01,1692.100486,2938.887426,3782.850553,495.004377,8908.842842,12.196499,4.549759,4.863173,0.00068,...,85.833281,101.746018,368.012082,45.233381,600.824762,5817.657169,8438.813349,6464.299957,3089.942674,23810.713149
4,1997-01-01,1903.231706,2991.086266,4811.466173,547.589084,10253.373229,82.293512,7.490976,5.093983,0.00000,...,87.247098,148.483194,373.083949,229.099266,837.913507,5693.665550,9075.782273,8227.172626,3258.768459,26255.388908